@import "tailwindcss";

/* Hide scrollbar but allow scrolling */
html, body {
    overflow-x: hidden; /* Prevent horizontal scrolling */
    overflow-y: scroll; /* Allow vertical scrolling */
    scrollbar-width: none; /* For Firefox */
    -ms-overflow-style: none; /* For Internet Explorer and Edge */
}

html::-webkit-scrollbar, body::-webkit-scrollbar {
    display: none; /* For Chrome, Safari, and Opera */
}